@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');



#root {
  max-width: screen;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  inset: 0;
  width: screen;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bus-marker {
  filter: hue-rotate(200deg) brightness(1.2);
}

.start-marker {
  filter: hue-rotate(90deg) brightness(1.1);
}

.end-marker {
  filter: hue-rotate(340deg) brightness(1.1);
}


/* Hide the Google top bar */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

/* Push page content back to top */
body {
  top: 0px !important;
}

/* Optional: hide iframe */
iframe.goog-te-banner-frame {
  display: none !important;
}

/* Optional: hide Google tooltip popup */
.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}


/* Style the routing panel */
.leaflet-routing-container {
  background: #fff !important;
  /* white background */
  color: #000 !important;
  /* black text */
  border-radius: 8px;
  /* rounded corners */
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  /* optional shadow */
}